<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<h2 style="font-size: 50px;">
    Lost 
    <img src="static/magnify glass.png" style="height: 70px; vertical-align: middle; margin: 0 -20px;"> 
    Found
</h2>

<h3 style="font-size: 25px; margin-top: -20px;">Sign into your account!</h3>

<form>
    <input type="email" placeholder="School Email" required><br><br>
    <input type="password" placeholder="Password" required><br><br>
    <button style="font-size: 20px;" type="submit">Sign in</button>
</form>

<p><a href="/register">Don't have an account?</a> 
    <a href="#">Forgot Password?</a>
</p>

</body>
</html>