<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<h2 style="font-size: 50px;">
    Lost 
    <img src="static/magnify glass.png" style="height: 70px; vertical-align: middle; margin: 0 -20px;"> 
    Found
</h2>

<h3 style="font-size: 25px; margin-top: -20px;">Create your account!</h3>

<form>
    <input type="text" placeholder="Full Name" required><br><br>

    <input type="email" placeholder="School Email" required><br><br>

    <input type="password" placeholder="Password" required><br><br>

    <input type="password" placeholder="Confirm Password" required><br><br>

    <button style="font-size: 20px;" type="submit">Create</button>
</form>

<p>
    <a href="/">Already have an account?</a>
</p>

</body>
</html>